<div class="home__container">
  <form class="home__form">

    <h1 class="roboto-semibold">Atualizar Controle de Ponto</h1>

    <p class="roboto-regular">Selecione ou arraste a planilha no botão abaixo para atualizar o Controle de Ponto</p>

    <div class="home__fields">
      @if (selectedFile === null) {
      <input type="file" class="home__fields-input" (change)="onFileSelected($event)" accept=".csv" required />
      } @else {
      <button type="button" class="home__button-file" (click)="onHome()" [disabled]="isLoading">
        @if (!isLoading) {
        <span class="roboto-regular">Atualizar</span>
        } @else {
        <mat-progress-spinner mode="indeterminate" class="button-spinner"></mat-progress-spinner>
        }
      </button>
      }
    </div>

    <div class="home__alert-message">
      @if (invalidFileMessage) {
      <p class="home__alert-message-error roboto-semibold">Erro ao enviar arquivo</p>
      }
      @if (nullFileMessage) {
      <p class="home__alert-message-error roboto-semibold">Nenhum arquivo foi selecionado</p>
      }
      @if (isSuccess) {
      <p class="home__alert-message-error roboto-semibold">Planilha atualizada</p>
      }
    </div>

  </form>
</div>
