.home__container {
  height: 100vh;
}

.home__form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  > h1 {
    font-size: 6vw;
    color: #FF4C00;
  }

  > p {
    width: 50%;
    color: #e5e5e2;
    font-size: 2vw;
  }
}

.home__fields {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__button-file,
.home__fields-input {
  position: relative;
  width: 30%;
  height: 5vw;
  padding: 1vw;
  color: #e5e5e2;
  font-size: 1.5vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  border: none;
  border-radius: 1vw;
  background-image: linear-gradient(140deg, #FF4500 0%, #FF6347 30%, #FF7F50 45%);
  background-size: 200% 200%;
  transition: all 0.2s ease-in;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.25);

  &:active {
    transition: all 1s ease;
    top: 0.3vw;
  }

  &:hover {
    transition: all 1s ease;
    background-image: linear-gradient(140deg, #FF4500 0%, #FF6347 30%, #FF7F50 45%, #FF6347 70%, #FF4500 100%);
    background-position: 100% 100%;
  }
}

.home__fields-input {
  color: transparent;
}

.home__fields-input::-webkit-file-upload-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  color: #e5e5e2;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-overflow: ellipsis;
  background-color: transparent;
}

.home__button-file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-spinner {
  display: flex;
  max-height: 100%;
}

::ng-deep .button-spinner circle {
  stroke: currentColor;
}

.home__alert-message {
  width: 100%;
}

.home__alert-message-error {
  width: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  color: #e5e5e2;
  font-size: 1.6vw;
}

@media (max-width: 768px) {
  .home__form {
    padding: 20vw 5vw;
    align-items: center;
    justify-content: start;

    > h1 {
      font-size: 12vw;
    }

    > p {
      font-size: 6vw;
      width: 100%;
      margin: 10vw 0 15vw 0;
    }
  }

  .home__button-file,
  .home__fields-input {
    width: 80%;
    height: 10vh;
    border-radius: 1vh;
    font-size: 5vw;
  }

  .button-spinner {
    display: flex;
    max-height: 50%;
  }

  .home__alert-message-error {
    font-size: 6vw;
    margin-top: 10vh;
  }
}
